body {
    background-color: rgb(212, 220, 226);
}

#header {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-between;
}

#left-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#left-head h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#left-head #sketch {
    align-self: flex-start;
    padding: 10px 5px;
    border-radius: 7px;
    border: 1px solid rgb(175, 169, 169);
    color: white;
    background-color: rgb(88, 121, 219);
    cursor: pointer;
}

#right-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#color-selector {
    border: 2px solid black;
    background-color: dimgray;
    padding: 5px;
}

#color-selector .color-select {
    padding: 16px;
    border: none;
    cursor: pointer;
    border: 1px solid black;
    margin: 0%;
}
#black {
    background-color: black;
}
#red {
    background-color: red;
}
#green {
    background-color: green;
}
#yellow {
    background-color: yellow;
}
#orange {
    background-color: orange;
}
#blue {
    background-color: blue;
}
#purple {
    background-color: purple;
}
#pink {
    background-color: pink;
}
#white {
    background-color: white;
}



#container {
    display: flex;
    border: 5px solid rgb(15, 88, 223);
    height: 600px;
    width: auto;
    flex-direction: column;
    background-color: white;
}
#container .horizontal {
    flex: 1;
    display: flex;
    
}

.horizontal .vertical {
    flex: 1;
}

